/* src/styles/login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/bg-login.jpg') no-repeat center center/cover;
  }
  
  .login-card {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 24px;
    color: #333;
  }
  
  .login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f0f0f0; /* Color de fondo del campo */
    color: #000000; /* Añade esta línea para el color del texto (negro) */
  }
  

  
  .login-card button {
    width: 100%;
    padding: 12px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-card button:hover {
    background-color: #000000;
  }
  